<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient in the composition</title>
    <link rel="stylesheet" type="text/css" href="/static/style/menu-style.css" th:href="@{/assets/css/menu-style.css}">
    <link rel="stylesheet" type="text/css" href="/static/style/table-style.css" th:href="@{/assets/css/table-style.css}">
    <link rel="stylesheet" type="text/css" href="/static/style/button-create.css" th:href="@{/assets/css/button-create.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div th:switch="${ingredientComposition}">
    <h2 th:case="null">No ingredient found!</h2>
    <div th:case="*">
        <h2 align="center">Заказы</h2>
        <br>
        <table>
            <thead>
            <tr>
                <th>Код</th>
                <th>Наименование ингредиента</th>
                <th>Наименование блюда</th>
                <th>Количество</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="i : ${ingredientComposition}">
                <td th:text="${i.getIdIngredientInTheComposition()}"></td>
                <td th:text="${i.getIngredient().getNameIngredients()}"></td>
                <td th:text="${i.getDish().getNameDishes()}"></td>
                <td th:text="${i.getAmount()}"></td>
                <td><a th:href="@{ingredient-in-the-composition-update/{id}(id=${i.getIdIngredientInTheComposition()})}" class="double-border-button">Edit</a></td>
                <td><a th:href="@{ingredient-in-the-composition-delete/{id}(id=${i.getIdIngredientInTheComposition()})}" class="double-border-button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/ingredient-in-the-composition-create" class="double-border-button">ADD INGREDIENT</a></p>
</div>
</body>
</html>