<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dishes</title>
    <link rel="stylesheet" type="text/css" href="/static/style/menu-style.css" th:href="@{/assets/css/menu-style.css}">
    <link rel="stylesheet" type="text/css" href="/static/style/table-style.css" th:href="@{/assets/css/table-style.css}">
    <link rel="stylesheet" type="text/css" href="/static/style/button-create.css" th:href="@{/assets/css/button-create.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div th:switch="${dish}">
    <h2 th:case="null">No menu found!</h2>
    <div th:case="*">
        <h2 align="center">Блюда</h2>
        <br>
        <table>
            <thead>
            <tr>
                <th>Код</th>
                <th>Наименование</th>
                <th>Единица измерения</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${dish}">
                <td th:text="${d.getIdDishes()}"></td>
                <td th:text="${d.getNameDishes()}"></td>
                <td th:text="${d.getEdIzmereniya()}"></td>
                <td><a th:href="@{dish-update/{id}(id=${d.getIdDishes()})}" class="double-border-button">Edit</a></td>
                <td><a th:href="@{dish-delete/{id}(id=${d.getIdDishes()})}" class="double-border-button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/dish-create" class="double-border-button">Create position</a></p>
</div>
</body>
</html>