<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Добавление</title>-->
<!--    &lt;!&ndash; Main Styles &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/styles/style.min.css" th:href="@{/styles/style.min.css}">-->
<!--    &lt;!&ndash; mCustomScrollbar &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}">-->
<!--    &lt;!&ndash; Waves Effect &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/plugin/waves/waves.min.css" th:href="@{/plugin/waves/waves.min.css}">-->
<!--    &lt;!&ndash; Sweet Alert &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/plugin/sweet-alert/sweetalert.css" th:href="@{/plugin/sweet-alert/sweetalert.css}">-->
<!--    &lt;!&ndash; Color Picker &ndash;&gt;-->
<!--    <link rel="stylesheet" href="/static/color-switcher/color-switcher.min.css" th:href="@{/color-switcher/color-switcher.min.css}">-->
<!--    <link rel="stylesheet" type="text/css" href="/static/style/button-create.css" th:href="@{/style/button-create.css}">-->
<!--</head>-->
<!--<body>-->




<div th:fragment="header" >
    <div class="main-menu">
        <header class="header">
            <a href="/auth/index" class="logo">Кафе KAVA</a>
            <button type="button" class="button-close fa fa-times js__menu_close"></button>
            <div class="user">
                <a href="#" class="avatar"><img src="https://ibb.co/3s9k6gx" alt=""><span class="status online"></span></a>
                <h5 class="name"><a>Администратор</a></h5>
                <!-- /.name -->
                <div class="control-wrap js__drop_down">
                    <i class="fa fa-caret-down js__drop_down_button"></i>
                    <div class="control-list">
                        <div class="control-item">
                            <div class="control-item">
                                <a href="javascript: document.outForm.submit()" role="menuitem"><i class="fa fa-sign-out"></i> Log out
                                    <form name="outForm" th:action="@{/auth/logout}" method="post" th:hidden="true">
                                        <input hidden type="submit" value="Sign Out"/>
                                    </form>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">

            <div class="navigation">

                <h5 class="title">Навигация</h5>
                <ul class="menu js__accordion">
                    <li>
                        <a class="waves-effect" href="/auth/index"><i class="menu-icon fa fa-calendar"></i><span>Календарь</span></a>
                    </li>
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-flag"></i><span>Актуальное</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/actual-menu">Меню сегодня</a></li>
                            <li><a href="/actual-order">Заказы сегодня</a></li>
                            <li><a href="/actual-dish-in-order">Доставка сегодня</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-th-large"></i><span>Формы</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/position-create">Должности</a></li>
                            <li><a href="/coworker-create">Сотрудники</a></li>
                            <li><a href="/order-create">Заказы</a></li>
                            <li><a href="/menu-create">Меню</a></li>
                            <li><a href="/dish-create">Блюда</a></li>
                            <li><a href="/dish-in-order-create">Блюда в доставке</a></li>
                            <li><a href="/ingredient-in-the-composition-create">Ингредиенты в составе</a></li>
                            <li><a href="/ingredient-create">Ингредиенты</a></li>
                            <li><a href="/purchase-create">Закупка</a></li>
                            <li><a href="/contractor-create">Поставщики</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-effect parent-item js__control" href="#"><i class="menu-icon fa fa-table"></i><span>Таблицы</span><span class="menu-arrow fa fa-angle-down"></span></a>
                        <ul class="sub-menu js__content">
                            <li><a href="/position">Должности</a></li>
                            <li><a href="/coworker">Сотрудники</a></li>
                            <li><a href="/order">Заказы</a></li>
                            <li><a href="/menu">Меню</a></li>
                            <li><a href="/dish">Блюда</a></li>
                            <li><a href="/dish-in-order">Блюда в доставке</a></li>
                            <li><a href="/ingredient-in-the-composition">Ингредиенты в составе</a></li>
                            <li><a href="/ingredient">Ингредиенты</a></li>
                            <li><a href="/purchase">Закупка</a></li>
                            <li><a href="/contractor">Поставщики</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title"></h1>
        </div>
        <div class="pull-right">
            <div class="ico-item">
                <a href="#" class="ico-item fa fa-search js__toggle_open" data-target="#searchform-header"></a>
                <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="fa fa-search button-search" type="submit"></button></form>
            </div>
            <div class="ico-item fa fa-arrows-alt js__full_screen"></div>

            <a href="javascript: document.logoutForm.submit()" role="menuitem" class="ico-item fa fa-power-off"></a>
            <form name="logoutForm" th:action="@{/auth/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>




<!--</body>-->
<!--</html>-->