<div th:fragment="header">
    <div class="widget">
        <h3 class="widget-title">Кафе</h3>
        <ul class="widget-list">
            <li><a href="/position">Должности</a></li>
            <li><a href="/coworker">Сотрудники</a></li>
            <li><a href="/order">Заказы</a></li>
            <li><a href="/menu">Меню</a></li>
            <li><a href="/dish">Блюда</a></li>
            <li><a href="/dish-in-order">Блюда в доставке</a></li>
            <li><a href="/ingredient-in-the-composition">Ингредиенты в составе</a></li>
            <li><a href="/ingredient">Ингредиенты</a></li>
            <li><a href="/purchase">Закупка</a></li>
            <li><a href="/contractor">Поставщики</a></li>
        </ul>
    </div>
</div>