<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Поставщики</title>
    <link rel="stylesheet" type="text/css" href="/static/style/menu-style.css" th:href="@{/style/menu-style.css}">
    <!--    <link rel="stylesheet" type="text/css" href="/static/style/table-style.css" th:href="@{/style/table-style.css}">-->
    <link rel="stylesheet" type="text/css" href="/static/style/button-create.css" th:href="@{/style/button-create.css}">
    <!-- Main Styles -->
    <link rel="stylesheet" type="text/css" href="/static/styles/style.min.css" th:href="@{/styles/style.min.css}">
    <!-- mCustomScrollbar -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- Waves Effect -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/waves/waves.min.css" th:href="@{/plugin/waves/waves.min.css}">
    <!-- Sweet Alert -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/sweet-alert/sweetalert.css" th:href="@{/plugin/sweet-alert/sweetalert.css}">
    <!-- Percent Circle -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/percircle/css/percircle.css" th:href="@{/plugin/percircle/css/percircle.css}">
    <!-- Chartist Chart -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/chart/chartist/chartist.min.css" th:href="@{/plugin/chart/chartist/chartist.min.css}">
    <!-- FullCalendar -->
    <link rel="stylesheet" type="text/css" href="/static/plugin/fullcalendar/fullcalendar.min.css" th:href="@{/plugin/fullcalendar/fullcalendar.min.css}">
    <link rel="stylesheet" type="text/css" href="/static/plugin/fullcalendar/fullcalendar.print.css" th:href="@{/plugin/fullcalendar/fullcalendar.print.css}" media='print'>
    <!-- Color Picker -->
    <link rel="stylesheet" type="text/css" href="/static/color-switcher/color-switcher.min.css" th:href="@{/color-switcher/color-switcher.min.css}">
    <!-- Data Tables -->
    <link rel="stylesheet" href="/static/plugin/datatables/media/css/dataTables.bootstrap.min.css" th:href="@{/plugin/datatables/media/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" href="/static/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css" th:href="@{/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css}">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div id="wrapper">
    <div class="main-content">
        <div class="row small-spacing">
            <div class="col-xs-12">
                <div class="box-content">
                    <div th:switch="${contractor}">
                        <h2 th:case="null">No contractor found!</h2>
                        <div th:case="*">
                            <h2 class="box-title">Поставщики</h2>
                            <br>
                            <table id="example" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                <tr>
                                    <th>Код</th>
                                    <th>Наименование поставщика</th>
                                    <th>Адрес</th>
                                    <th>Номер телефона</th>
                                    <th>Изменить</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="c : ${contractor}">
                                    <td th:text="${c.getIdContractors()}"></td>
                                    <td th:text="${c.getNameContractors()}"></td>
                                    <td th:text="${c.getAddress()}"></td>
                                    <td th:text="${c.getPhoneNumber()}"></td>
                                    <td><a th:href="@{contractor-update/{id}(id=${c.getIdContractors()})}" class="double-border-button">Edit</a></td>
                                    <td><a th:href="@{contractor-delete/{id}(id=${c.getIdContractors()})}" class="double-border-button">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p><a href="/contractor-create" class="double-border-button">ADD CONTRACTOR</a></p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <ul class="list-inline">
                <li>2021 © Pugachok.</li>
            </ul>
        </footer>
    </div>
</div>
<script src="/static/scripts/jquery.min.js" th:src="@{/scripts/jquery.min.js}"></script>
<script src="/static/scripts/modernizr.min.js" th:src="@{/scripts/modernizr.min.js}"></script>
<script src="/static/plugin/bootstrap/js/bootstrap.min.js" th:src="@{/plugin/bootstrap/js/bootstrap.min.js}"></script>
<script src="/static/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script src="/static/plugin/nprogress/nprogress.js" th:src="@{/plugin/nprogress/nprogress.js}"></script>
<script src="/static/plugin/sweet-alert/sweetalert.min.js" th:src="@{/plugin/sweet-alert/sweetalert.min.js}"></script>
<script src="/static/plugin/waves/waves.min.js" th:src="@{/plugin/waves/waves.min.js}"></script>
<!-- Full Screen Plugin -->
<script src="/static/plugin/fullscreen/jquery.fullscreen-min.js" th:src="@{/plugin/fullscreen/jquery.fullscreen-min.js}"></script>

<!-- Percent Circle -->
<script src="/static/plugin/percircle/js/percircle.js" th:src="@{/plugin/percircle/js/percircle.js}"></script>

<!-- Google Chart -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Chartist Chart -->
<script src="/static/plugin/chart/chartist/chartist.min.js" th:src="@{/plugin/chart/chartist/chartist.min.js}"></script>
<script src="/static/scripts/chart.chartist.init.min.js" th:src="@{/scripts/chart.chartist.init.min.js}"></script>

<!-- FullCalendar -->
<script src="/static/plugin/moment/moment.js" th:src="@{/plugin/moment/moment.js}"></script>
<script src="/static/plugin/fullcalendar/fullcalendar.min.js" th:src="@{/plugin/fullcalendar/fullcalendar.min.js}"></script>
<script src="/static/scripts/fullcalendar.init.js" th:src="@{/scripts/fullcalendar.init.js}"></script>

<script src="/static/scripts/main.min.js" th:src="@{/scripts/main.min.js}"></script>
<script src="/static/color-switcher/color-switcher.min.js" th:src="@{/color-switcher/color-switcher.min.js}"></script>

<!-- Data Tables -->
<script src="/static/plugin/datatables/media/js/jquery.dataTables.min.js" th:src="@{/plugin/datatables/media/js/jquery.dataTables.min.js}"></script>
<script src="/static/plugin/datatables/media/js/dataTables.bootstrap.min.js" th:src="@{/plugin/datatables/media/js/dataTables.bootstrap.min.js}"></script>
<script src="/static/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js" th:src="@{/plugin/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"></script>
<script src="/static/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js" th:src="@{/plugin/datatables/extensions/Responsive/js/responsive.bootstrap.min.js}"></script>
<script src="/static/scripts/datatables.demo.min.js" th:src="@{/scripts/datatables.demo.min.js}"></script>
</body>
</html>